#card-schedule-withdrawal{
	margin-top: 3rem;
	h2{
		color: $color_title;
		span{
			color: $color_lightpetroleum;
			font-size: 24px;
		}
	}
	a{
		background-color: $color_orange;
		color: $color_white;
	}
}